# requirements.txt file for initialising MyBinder virtual environment

ipywidgets==7.5.1
matplotlib==3.3.4
pandas==0.25.1
mpltern==0.3.1
burnman==0.9.0
numpy==1.19.5
itables==0.3.0
IPython==7.16.1
scipy==1.5.4
tqdm==4.60.0
jupyter_contrib_nbextensions==0.5.1
appmode
